.text-with-svg {
    text-align: center;
    position: relative;
    display: inline-block;
    margin-top: 50px;
  }
  
  .text-with-svg h1 {
    margin-bottom: 0;
    font-size: 3.5vh;
    font-weight: bold;
  }
  
  .text-with-svg img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 30%;
    height: auto;
  }
  @media (max-width:780px){
    .text-with-svg img {
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      width: 50%;
      height: auto;
    }
  }