.profile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .swiper-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .profile-content {
    max-width: 600px;
    text-align: justify;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #333;
  }
  
  .swiper-pagination-bullet {
    background: #333;
  }
  